name: Check with ruff

on:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13.10
        env:
          POSTGRES_USER: django_user
          POSTGRES_PASSWORD: django_password
          POSTGRES_DB: django_db
        ports: 
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: checkout the code
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: install dependencies
        run:  |
          python -m pip install --upgrade pip
          python -m pip install -r ./backend/requirements.txt
          pip install ruff
          pip install autopep8

      - name: lint with ruff, check format with autopep8, run tests
        env:
          POSTGRES_USER: django_user
          POSTGRES_PASSWORD: django_password
          POSTGRES_DB: django_db

          DB_HOST: 127.0.0.1
          DB_PORT: 5432
        run: |
          cd backend/
          python -m ruff check .
          python -m autopep8 -r --diff --exit-code ./backend ./api
          python manage.py test

